{% load static %}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---<link rel="stylesheet" href="../core/static/css/activities.css">--->
    <link rel="stylesheet" href="{% static 'css/activities.css' %}">
    <title>Atividades</title>	

</head>

<body>
    
    <div class="grid">
        
        <nav class="nav">
            <div class="header-activ">Atividades</div>
            <div class="header-date">19 Abr 2020</div>
        </nav>
        <div class="header-name">Clovis Daniel Costa</div>
        <div class="header-priv">Pioneiro Regular</div>
        <div class="header-year">2020</div>
        <div class="header-month">Novembro</div>
        
        <div class="tot-tit-hour">Horas</div>
        <div class="tot-hour">71</div>
        <div class="tot-tit-pub">Colocações</div>
        <div class="tot-pub">125</div>
        <div class="tot-tit-vid">Vídeos</div>
        <div class="tot-vid">12</div>
        <div class="tot-tit-vis">Revisitas</div>
        <div class="tot-vis">32</div>
        <div class="tot-tit-stu">Estudos</div>
        <div class="tot-stu">3</div>

        <div class="activ">Atividades</div>
        <div class="activ-rem">Dias restantes: 4 | +1 | 1.15/dia </div>

        <div class="itens">

                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>
                        
                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>
                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>
                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>
                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>
                <div class="itens-first">
                    <div>
                        <div class="it-text">Campo com Marcia e estudos com Luísa na Vila Osvaldo Cruz II, 
                        testemunho por telefone</div>
                    </div>
                    <div class="itens-data">
                        <div class="it-hour">2.15</div>    
                        <div class="it-pub">3</div>    
                        <div class="it-vid">1</div>    
                        <div class="it-vis">4</div>    
                        <div class="it-stu">1</div>
                    </div>    
                </div>
    
                <div class="itens-second">
                    <div class="it-day">02</div>
                    <div class="it-day-week">Qua</div>      
                </div>

        </div>                
                        
    </div>
</body>
</html>
